.verify-tripe {
	margin: 40px auto;
	width: 970px;
}

.verify-title {
	margin: 20px 0px;
	width: 970px;
	height: 150px;
}

.verify-title i {
	display: inline-block;
	float: left;
	margin: 10px 0px;
	margin-right: 40px;
	height: 130px;
	width: 130px;
	background: url(../images/sprite.png) -118px 0px;
}

.verify-title h3,
.verify-title p {
	font-size: 20px;
	font-weight: 400;
	color: #999;
}

.verify-title h3 {
	padding: 25px 0px 10px;
}

.verify-title p {
	line-height: 35px;
}

.verify-h4 {
	padding: 5px 0px;
	font-size: 20px;
	font-weight: 400;
}

.verify-area {
	padding: 20px;
	width: 930px;
	max-width: 930px;
}

.verify-tripe input,
.verify-area {
	font-size: 18px;
	border: 1px solid #dcdddd;
}