.register-tripe {
	margin: 0px auto;
	padding: 80px 0px;
	width: 1190px;
	min-height: 500px;
}

.smail-icon {
	display: block;
	float: left;
	height: 65px;
	width: 65px;
	background: url(../images/sprite.png) -180px -130px;
}

.age-icon {
	display: block;
	float: left;
	height: 65px;
	width: 80px;
	background: url(../images/sprite.png) -103px -130px;
}

.register-tripe-h3 {
	padding-top: 3px;
	padding-left: 100px;
	font-size: 24px;
	font-weight: 400;
}

.register-tripe-h4 {
	padding-left: 100px;
	font-size: 18px;
	font-weight: 400;
	color: #999;
}

h4 span {
	color: #2d974d;
}

.three-check {
	margin-top: 50px;
	margin-left: -10px;
	width: 1200px;
}

.check-box {
	float: left;
	margin-left: 10px;
	padding-top: 245px;
	text-align: center;
	width: 390px;
	height: 123px;
}

.check-box h3 {
	padding: 5px 0px;
	font-size: 24px;
	color: #333;
}

.check-box h4 {
	padding: 5px 0px;
	font-size: 18px;
	color: #999;
	font-weight: 400;
}

.check-btn {
	margin: 0px auto;
	width: 122px;
	height: 32px;
	line-height: 32px;
	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	/* Old Firefox */
	background-color: #5ec16b;
	cursor: pointer;
}

.btn-hover:hover {
	background-color: #2f913c;
}

.two-check {
	margin-top: 100px;
	margin-left: -30px;
	width: 1220px;
}

.two-check-item {
	float: left;
	margin-left: 30px;
	padding: 88px 0px;
	padding-left: 272px;
	text-align: center;
	width: 306px;
	height: 80px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	/* Old Firefox */
	border: 1px solid #dcdddd;
}

.two-check-item h3 {
	font-size: 24px;
	font-weight: 400;
	color: #555;
}

.two-check-btn {
	margin-top: 20px;
	width: 90px;
}

.two-check-btn:hover {
	background-color: #2f913c;
}

.two-check-item:hover {
	background-color: #f1f1f1 !important;
}